<div class="container">
  <h1>View Post</h1>

  <a href="#" routerLink="/comment/index" class="btn btn-primary">Back</a>

  <div>
    <strong>ID:</strong>
    <p>{{ comment.id }}</p>
  </div>
  <div>
    <strong>Post ID:</strong>
    <p>{{ comment.postId }}</p>
  </div>

  <div>
    <strong>Name:</strong>
    <p>{{ comment.name }}</p>
  </div>
  <div>
    <strong>Email:</strong>
    <p>{{ comment.email }}</p>
  </div>

  <div>
    <strong>Body:</strong>
    <p>{{ comment.body }}</p>
  </div>

</div>
